<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="maindiv" class="container">
        <div class="header">
            <h1 id="headlbl">Start your career with <span style="color: #5cb85c;">Us</span></h1>
        </div>
        <div class="input-group md-form form-sm form-2 pl-0 " style="margin-left:12rem;">
            <form class="form-control shadow p-3 mb-5 rounded input-group" style="background-color: lightgray;">
                <input class="form-control my-0 py-1 " type="text" placeholder="Job type, Skill or Company..." >
                <input class="form-control my-0 py-1 " type="text" placeholder="Location..." >
            <div class="input-group-append">
                <button class="btn btn-outline-success my-2 my-sm-0" name="search" id="search" type="submit">SEARCH</button>
            </div>
        </form>
          </div>
    </div>
</body>
</html>