<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top navbar-fixed-top">
    <a class="navbar-brand" href="#">CareerChoice</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Find Jobs</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Create CV</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-lg btn-outline-success my-2 my-sm-0" name="regi" id="regi" type="submit">Register</button>&nbsp;
        <button class="btn btn-lg btn-outline-success my-2 my-sm-0" name="login" id="login" type="submit">Login</button>
      </form>
    </div>
  </nav>